*{
    text-align: center;
    font-family: AFRICA TRIAL CLIFF;
}
body{
    font-size:larger;
}
h1{
    margin-top: 175px;
}
h3{
    margin-top:40px;
}
.px{
   margin-top:40px;
}
button{
    background-color:  rgb(115, 220, 111);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
button:hover{
    background-color: rgb(131, 172, 129);
    margin-top: 2px;
}